@import url("./fonts.css");

.advantages {
  text-align: center;
  background-color: #ffffff;
  max-width: 1440px;
  max-height: 570px;
  margin: 0 auto;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.title {
  color: #383838;
  text-align: center;
  margin: 120px auto 0;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
}

.underline {
  background-color: #f5bd41;
  height: 4px;
  width: 100px;
  margin: 20px auto 0;
  text-align: center;
  border: 0;
}

.item {
  width: 300px;
  height: 180px;
  margin: 80px 8px;
  box-sizing: border-box;
}

.image {
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.description {
  color: #383838;
  font-size: 24px;
  margin-top: 48px;
}

.footer {
  background-color: #10367c;
  padding: 100px 272px 120px 104px;
}

.footer-container {
  display: flex;
  max-width: 1440px;
  box-sizing: border-box;
  justify-content: space-evenly;
  /*padding: 100px 272px 120px 104px;*/
}

.footer-container-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin: 24px 0 0;
  height: 23px;
}

.footer-container-text-1 {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
}

.copyright-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 64px;
  height: 16px;
}
.about {
  /*flex:1 1 auto;*/
  width: 416px;
}

.property-types {
  /*flex:1 1 auto;*/
  width: 416px;
}

.support {
  flex: 1 1 auto;
}
